*, *::before, *::after {
    box-sizing: border-box;
}

header {
    padding:0;
    width: 100%;
    margin-top: 15px;
    display: inline-block;
}

#high-score {
    float: left;
    margin-left: 10px;
}

#timer {
    float: right;
    margin-right: 10px;
}

main {
    padding: 0;
    margin: 0;
    display: flex;
    width: 100%;
    margin-top: 100px;
    justify-content: center;
    align-items: center;
}

section {
    padding: 0;
    margin: 0;
    display: flex;
    width: 100%;
    margin-top: 5px;
    color: grey;
    justify-content: center;
    align-items: center;
}

.container {
    width: 800px;
    max-width: 80%;
    /* border: 2px solid black; */
    padding: 10px;
    text-align: center;

}

.btn-grid {
    display: grid;
    gap: 10px;
    margin: 20px 30%;
}

.btn {
    background-color: tomato;
    border-radius: 5px;
    padding: 8px 10px;
    color: white;
    font-size: 15px;

}

.btn:hover, .btn:active {
    background-color: salmon;
}

.start-btn {
    font-size: 20px;
    font-weight: bold;
    padding: 10px 20px;
    justify-content: center;
    align-items: center;
}

#score-list {
    text-align: center;
    list-style-position: inside;
    padding-right: 50px;
}

.hide {
    display: none;
}

.vision {
    visibility: hidden;
    animation: cssAnimation 5s forwards;
}